li
{
    list-style: none;
}
.navBar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(48, 44, 44);
    color: white;
}
.navBar li:hover
{
    cursor: pointer;
    color: rgb(168, 115, 115);
}